rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'musmannazir97@gmail.com';
    }

    match /resume/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /profile/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /projects/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
